* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc((132px * 3) + 5px);
    height: calc((132px * 3) + 5px);
    display: flex;
    flex-wrap: wrap;

}
.square {
    width: 132px;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #777; /* Border style for each square */
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.square:hover {
    background-color: #ddd;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.container::before,
.container::after {
    content: attr(data-content); /* Pull content from data-content attribute */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Start with scale(0) to make it small */
    font-size: 120px;
    animation: appear 0.3s forwards;
    animation-delay: 0.3s; /* Delay the animation for 0.3 seconds */
}

/* Define the animation to make them grow */
@keyframes appear {
    0% {
        transform: translate(-50%, -50%) scale(0); /* Start with scale(0) */
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* Scale it to 1 to make it appear larger */
    }
}